body{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    background-image: linear-gradient(45deg, rgb(245, 88, 88), rgb(248, 246, 131));
}

div{
    background-color: rgb(18, 59, 87);;
    font-family: poppins, sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 80px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1{
    text-align: center;
    color: white;
    font-size: 2.5em;
    margin-bottom: 20px;
    
}
input{
    padding: 10px;
    border:none;
    border-radius: 10px;
}
button{
    padding: 10px;
    border:none;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background-color: lightblue;
    width: 100%;
}

button:hover{
    background-color: gray;
    cursor: pointer;
}